@import "./reset.css";
@import "./tokens.css";

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--crystal-cut);
	font-family: var(--text-font-body);
	font-size: var(--text-base);
	font-weight: var(--weight-regular);
	letter-spacing: var(--letter-spacing-normal);
	line-height: var(--leading-normal);
	color: var(--black-umber);
}

h1,
.h1 {
	font-family: var(--text-font-heading);
	font-size: var(--text-5xl);
	font-weight: var(--weight-bold);
	line-height: var(--leading-tighter);
	letter-spacing: var(--letter-spacing-tightest);
}

h3,
.h3 {
	font-family: var(--text-font-heading);
	font-size: var(--text-xl);
	font-weight: var(--weight-regular);
	line-height: var(--leading-snug);
	letter-spacing: var(--letter-spacing-tight);
}

h4,
.h4 {
	font-family: var(--text-font-heading);
	font-size: var(--text-base);
	font-weight: var(--weight-bold);
	line-height: var(--leading-snug);
	letter-spacing: var(--letter-spacing-loose);
}

h5,
.h5 {
	font-family: var(--text-font-heading);
	font-size: var(--text-sm);
	font-weight: var(--weight-bold);
	line-height: var(--leading-snug);
	letter-spacing: var(--letter-spacing-normal);
	text-transform: uppercase;
}

h6,
.h6 {
	font-family: var(--text-font-heading);
	font-size: var(--text-2xs);
	font-weight: var(--weight-bold);
	line-height: var(--leading-snug);
	letter-spacing: var(--letter-spacing-looser);
	text-transform: uppercase;
}

.mono {
	font-family: var(--text-font-mono);
	font-size: var(--text-sm);
	font-weight: var(--weight-regular);
	line-height: var(--leading-normal);
	letter-spacing: var(--letter-spacing-normal);
}

.small {
	font-size: var(--text-xs);
	line-height: var(--leading-snug);
}

.large {
	font-size: var(--text-md);
	line-height: var(--leading-relaxed);
	letter-spacing: var(--letter-spacing-relaxed);
}

.full-width-breakout {
	position: relative;
	right: 50%;
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	width: 100vw;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
	border: 0 !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
	position: absolute !important;
}

.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
	overflow: hidden !important;
}

.container {
	max-width: 90rem;
	margin: 0 auto;
	padding: 0 1.5rem;

	@media (min-width: 30rem) {
		padding: 0 2rem;
	}
	@media (min-width: 48rem) {
		padding: 0 3rem;
	}
	@media (min-width: 80rem) {
		padding: 0 4rem;
	}
	@media (min-width: 96rem) {
	}
}
